/* shared styles */
* {
  margin: 0;
  padding: 0;
}
main, footer{
    margin: 0 auto;
    max-width: 1440px;
}
.flex {
  display: flex;
}
.primary-color {
  color: #ff900e;
}
.dark-1 {
  color: #424242;
}
.dark-2 {
  color: #727272;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 24px;
  cursor: pointer;
  border: none;
}
.description{
    font-size: 1rem;
    margin: 24px 0;
    max-width: 876px;
}
.center{
    margin: 0 auto;
    text-align: center;
}

/* margin */
.mt{
    margin-top: 24px;
}
.mb{
    margin-bottom: 24px;
}
.ml{
    margin-left: 24px;
}
.mr{
    margin-right: 24px;
}
/* font styles */
.f45{
  font-size: 2.8rem;
}
.f{
  font-size: 1rem;
}
.f20{
  font-size: 1.25rem;
}
.f65{
  font-size: 4rem;
}
.f25{
  font-size: 1.5rem;
}
.bold{
  font-weight: 700;
}
.medium{
  font-weight: 500;
}
.semibold{
  font-weight: 600;
}
.margin{
  margin: 80px 2%;
}

/* header section related styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding:0 2%;
  padding-top: 40px;
}
nav {
  margin: 0 auto;
  max-width: 1440px;
}
.brand {
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar,
.navbar ul {
  justify-content: space-between;
  align-items: center;
}
.menu-item {
  list-style: none;
  margin-left: 24px;
}
.menu-item a {
  text-decoration: none;
  font-size: 1.1rem;
}
.banner{
    margin: 40px auto;
    max-width: 1440px;
}
.banner-title{
    font-size: 4rem;
    max-width: 864px;
}
.banner img{
    width: 100%;
    margin: 45px 0;
}

/* Quick list section related styles */
.quick-list{
    margin: 0 2%;
    align-items: center;
    justify-content: space-between;
}
.quick-list-content{
    max-width: 468px;
}
.quick-list-content h3{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 24px 0;
}
#quick-list{
    font-weight: 500;
}
.img-container img{
    width: 100%;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* Features section related styles */

.features{
    margin: 80px 2%;
    justify-content: space-between;
    align-items: center;
    gap:72px
}
.features-title{
  border-left:5px solid #ff900e;
  max-width: 486px;
  padding-left: 12px;
}
.features-card{
  padding:30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  max-width: 586px;
}
.architect{
  max-width: 708px;  
  position: relative;
}
.architect img{
  width: 100%;
}
.architect button{
  position: relative;
  top: -70px;
  left: -50px;
}
/* Some facts related styles */
.fact-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  width: 60%;
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 38px;
}
.fact-description{
  max-width: 542px;
}

/* Sponsor related styles */
.sponsor-img-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
.sponsor-img-container img{
  filter:grayscale(100%);
}

/* Footer related styles */

footer{
 background: #FFF4E7;
 border-radius: 8px;
 max-width: 1440px;
 padding: 40px ;
}

/* Responsive for medium screens */
@media screen and (min-width: 576px) and (max-width: 992px) {
   html{
        font-size: 14px;
    }
   .features{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .features-card{
      margin: 0 auto;
    }
   .architect button{
        position: relative;
        top: 20px;
        left: 0;
    }
   .fact-card{
        width: 79%;
    }
   .fact-card-container{
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        justify-items: center;
        align-items: center;

    }
   .sponsor-img-container{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 32px;
    }
  
}

/* Responsive for small screens */
@media screen and (max-width: 576px) {
    html{
        font-size: 12px;
    }
    .navbar ul {
    display: none;
  }
  .quick-list{
    flex-direction: column-reverse;
  }
  .img-container{
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .ml{
    margin-left: 0;
  }
  .features{
    flex-direction: column;
  }
  .architect button{
    position: relative;
    top: 20px;
    left: 0;
  }
  .fact-card{
    width: 60%;
  }
  .fact-card-container, .sponsor-img-container{
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .sponsor-img-container{
    gap: 32px;
  }
  footer{
    padding: 20px;
  }
}
